<section role="dialog" id="detail-view" aria-labeledby="dialog-header">
  <div role="document">
  	<header id="dialog-header">
  		Project Details
  		<button {{action "buttonClicked" param=itemId}}>close</button>
  	</header>
    {{yield}}
    <article>
    	{{model.description}}
   	</article>
  </div>
</section>
