{{self-focusing-heading title="Adventures"}}
    <ul>
    {{#each model as |adventure|}}
      <li>
          <dl>
            <dt><a href={{adventure.url}} target="_blank">{{adventure.trip}}</a></dt>
            <dd>{{adventure.description}}</dd>
          </dl>
      </li>
    {{/each}}
    </ul>