{{self-focusing-heading title="Adventures"}}
    <ul>
    {{#each model}}
      <li>
          <dl>
            <dt><a {{bind-attr href=url}} target="_blank">{{trip}}</a></dt>
            <dd>{{description}}</dd>
          </dl>
      </li>
    {{/each}}
    </ul>