<h1>Sarah E. Clatterbuck</h1>
    <nav>
      <ul>
        <li>
          {{#link-to 'index'}}Home{{/link-to}}
        </li>
        <li>
          {{#link-to 'speaking'}}Speaking{{/link-to}}
        </li>
        <li>
          {{#link-to 'writing'}}Writing{{/link-to}}
        </li>
        <li>
          {{#link-to 'press'}}Press{{/link-to}}
        </li>
        <li>
          {{#link-to 'engineering'}}Engineering Work{{/link-to}}
        </li>
        <li>
          {{#link-to 'design'}}Design Work{{/link-to}}
        </li>
        <li>
          {{#link-to 'adventures'}}Adventures{{/link-to}}
        </li>
      </ul>
    </nav>
<main>
  {{outlet}}
</main>
