{{self-focusing-heading title="Writing"}}
    <ul>
      {{#each model as |article|}}
      <li>
          <dl>
            <dt><a {{bind-attr href=article.url}} target="_blank">{{article.title}}</a></dt>
            <dd>{{article.description}}</dd>
          </dl>
      </li>
    {{/each}}
    </ul>